html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;

  color: #333333;
  font-size: 14px;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Microsoft YaHei, PingFang SC, SimHei, Helvetica Neue, Helvetica, Hiragino Sans GB, Arial, sans-serif;
  background: #ffffff;
}

#app {
  height: 100%;
}

@for $i from 1 through 10
{
  .m-#{$i * 5} { margin: #{$i * 5}px;}
  .mtb-#{$i * 5} { margin: #{$i * 5}px 0;}
  .mlr-#{$i * 5} { margin: 0 #{$i * 5}px;}

  .mt-#{$i * 5} { margin-top: #{$i * 5}px;}
  .mb-#{$i * 5} { margin-bottom: #{$i * 5}px;}
  .ml-#{$i * 5} { margin-left: #{$i * 5}px;}
  .mr-#{$i * 5} { margin-right: #{$i * 5}px;}
}


